<!-- Subscription Box Program Section -->
<div class="content program">
    <h3 class="center">Subscription Box</h3>
    <div class="center" id="sub-box-img">
        <img src="assets/program/sub-box.jpg" alt="subscription box">
    </div>
    <p>
        Skip hours of browsing and discover pieces curated just for you. After getting your first
        subscription box, instantly buy what you want, when you want it.
        Try on pieces at home, buy favorites and send back the rest. A $20 styling fee covers your stylist’s
        expertise and time—it gets credited
        toward anything you keep.
    </p>
    <div class="link-button center"><a>Learn More</a></div>

</div>