<div class="sticky">
  <!-- Header -->
  <section class="header">
      <header role="banner">
          <a href="index.html"><img class="center" id="header-title" src="../../../assets/header/title.png"></a>
      </header>
  </section>

  <!-- Navigation -->
  <section class="navigation">
      <nav>
          <div class="menu">
              <span class="nav-item"><a href="/home">Home</a></span>
              <span class="nav-item"><a routerLink="/product">Products</a></span>
          </div>
      </nav>
  </section>
</div>