<section class="information">
    <footer>
        <div class="contact-info">
            <div class="location">
                <h4>Location</h4>
                <span>1130 5th Ave</span>
                <span>New York, NY 15422</span>
            </div>
            <div class="hours">
                <h4>Hours</h4>
                <span>Monday-Friday <time datetime="08:00">8am</time>-<time datetime="22:00">10pm</time></span>
                <span>Saturday <time datetime="08:00">8am</time>-<time datetime="20:00">8pm</time></span>
                <span>Sunday <time datetime="10:00">10am</time>-<time datetime="20:00">8pm</time></span>
            </div>
            <div class="contact">
                <h4>Contact</h4>
                <span>(917)-213-7466</span>
                <span>service@mahogany.com</span>
            </div>
        </div>
        <div class="social-media">
            <a href="https://www.instagram.com/" target="_blank">Instagram</a>
            <a href="https://www.twitter.com/" target="_blank">Twitter</a>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a>
            <a href="https://www.youtube.com/" target="_blank">YouTube</a>
            <a href="https://wordpress.com/" target="_blank">Blog</a>
        </div>
    </footer>
</section>